eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:7850/eureka/

server:
  port: 8888

spring:
  application:
    name: gateway

  zipkin:
    base-url: http://localhost:6666

zuul:
  routes:
    api-pay:
      path: /api/pay/**
      serviceId: payapi